@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    .ant-form-item-label{
        font-weight: inherit;
    }
    .ant-card-head-title {
        font-size: 18px;
        font-weight: inherit;
    }

    .ant-layout-sider {
        background-color: white!important;
    }
    .ant-layout-sider-trigger {
        background-color: #447bff !important;
    }
    .ant-menu-item {
        .ant-menu-title-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .anticon{
                align-content: center;
                align-items: center;
                //margin-top: 12px;
            }
            span {
                a {
                    font-weight: 500;
                    font-size: 16px;
                }
            }
            a {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
    .ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-title-content > span{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .anticon {
            align-content: center;
            align-items: center;
            //margin-top: 12px;
        }
        span {
            font-weight: 500;
            font-size: 16px;
        }
    }

    .ant-menu-item-selected {

    }
    .ant-menu-root {
        padding: 12px 18px!important;
    }
    .ant-layout-sider-collapsed {
        .ant-menu-root {
            padding: 0!important;
        }
    }
}
