@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    .ant-form-item-label{
        font-weight: inherit;
    }
    .ant-card-head-title {
        font-size: 18px;
        font-weight: inherit;
    }
    .ant-menu-item {
        .ant-menu-title-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .anticon{
                align-content: center;
                align-items: center;
                //margin-top: 12px;
            }
        }
    }
    .ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-title-content > span{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .anticon {
            align-content: center;
            align-items: center;
            //margin-top: 12px;
        }
    }
}
